<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791401909877-jh0ehgpvvflgej1ouvtb7jmvnohjdq69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791401909877-jh0ehgpvvflgej1ouvtb7jmvnohjdq69</string>
	<key>API_KEY</key>
	<string>AIzaSyDH396tisagHoskG9h8zkNOGq4iguj-elk</string>
	<key>GCM_SENDER_ID</key>
	<string>791401909877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>testapp-11c7e</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-11c7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791401909877:ios:1b2d5a40defcb67491723c</string>
</dict>
</plist>